.todo {
    padding: 40px;
    margin-right: 330px;
   color: chartreuse;
   background-color: #2e9990;
   text-align: center;
}

html, body {
    height: 100%;
    color: #61DAFB;
    background: #2D2D2D;
  }
  
  h1 {
    margin: 25px 15px 0 0 ;
    text-align: center;
  }
  
  #main {
    width: 400px;
    margin-right: 200px;
    color: rgb(185, 48, 7);
    text-align: center;
  }
  