 .nav .header button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF; 
}
 .todo{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 500px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}
.todoList .header input {
    font-size: 16px;
    border: 2px solid rgb(38, 142, 168);
    width: 165px;
  }
  .todoList .header button {
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #00ffbf;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .todoList .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .todoList .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
  } 
  .todoList .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }
  ul.theList {
    padding: 0;
  }